<!doctype html>
<html>
<head>
    <title>Drafting a Survey</title>
    <meta charset="utf-8">
    <link href="https://unpkg.com/survey-core/survey-core.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="icon" href="{{ "images/icons/beeicon.png" | relURL }}" type="image/png">
    <script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>
</head>
<body>
    <div id="surveyContainer"></div>


    <script src="{{ "js/script.js?v=2" | relURL }}"></script>
</body>
</html>